<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Barker's Weather App</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body style = "background-color: lightblue">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style = "color: red">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

	<form method = "POST">
		<input type = "text" style = "border-radius: 8px; padding: 10px" name="city" placeholder = "Enter City">
		<input type = "text" style = "border-radius: 8px; padding: 10px" name="state" placeholder = "Enter State Code">
		<input type = "text" style = "border-radius: 8px; padding: 10px" name="country" placeholder = "Enter Country">
		<button type="submit" style = "border-radius: 8px; padding: 10px">Search</button>
	</form>
	
{% if forecastDays %}
	<h1 style = "text-align:center; padding-top: 20px">{{forecastDays[0].city}}</h1>
	
	<div style="display: flex; flex-wrap: wrap; gap: 0px; justify-content:center; padding-top: 20px">

	{% for item in forecastDays%}
	<div class="days" style = "background-color: gray; border-radius: 10px; padding: 10px" >
 		{% if loop.first %}<h2 style = "text-align:center">Today</h2>
		{% else %}<h2 style = "text-align:center">{{item.weekday}}</h2>{% endif %}
		 <img src="https://openweathermap.org/img/wn/{{item.icon}}@2x.png" alt="weather icon">
		 <p><span style = "font-weight: bold">Date: </span>{{item.date}}</p>
 		 {% if loop.first %} <p><span style = "font-weight: bold">Currently: </span>{{item.currtemp}}°F</p> {% endif %}
		 {% if loop.first %}<p><span style = "font-weight: bold">Feels Like: </span>{{item.feelslike}}°F</p> {% endif %}
		 <p><span style = "font-weight: bold">Min: </span>{{item.tempmin}}°F</p>
		 <p><span style = "font-weight: bold">Max: </span>{{item.tempmax}}°F</p>
		 <p><span style = "font-weight: bold">Humidity: </span>{{item.humidity}}%</p>
		 <p><span style = "font-weight: bold">Condition: </span>{{item.condition}}</p>
	</div>
	{% endfor %}
	</div>

{% endif %}


</body>
</html>