<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Barker's Weather App</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>
<body style = "background-image: url('https://www.treehugger.com/thmb/m6LuOArZAptwMM2elQQBrsq-cyY=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/sunny-day-1308308199-a9cb79ef20c1415586e8ea95b50a8695.jpg'); background-size : cover; background-position: center; background-repeat: no-repeat; height: 700px">

<!--Retrieve flashed messages for errors-->

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style = "color: red">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<!--Get user inputs and set placeholders for input boxes-->

	<form method = "POST">
		<input type = "text" style = "border-radius: 8px; padding: 10px" name="city" placeholder = "Enter City">
		<input type = "text" style = "border-radius: 8px; padding: 10px" name="state" placeholder = "Enter State Code">
		<input type = "text" style = "border-radius: 8px; padding: 10px" name="country" placeholder = "Enter Country">
		<button type="submit" style = "border-radius: 8px; padding: 10px">Get Forecast</button>
	</form>


<!--Retrieve data for each forecast day-->
	
{% if forecastDays %}
	<h1 style = "text-align:center; font-size: 45px; padding-top: 40px">{{forecastDays[0].city}}</h1>
	
	<div style="display: flex; flex-wrap: wrap; gap: 15px; justify-content:center; padding-top: 40px">

	{% for item in forecastDays%}
	{% if loop.first %}<div class="days" style = "background-color: gray; border-radius: 10px; padding: 10px" >
	{% else %}<div class="days" style = "background-color: darkgray; border-radius: 10px; padding: 10px" > {% endif %}
 		{% if loop.first %}<h2 style = "text-align:center">Today</h2>
		{% else %}<h2 style = "text-align:center">{{item.weekday}}</h2>{% endif %}
		 <img src="https://openweathermap.org/img/wn/{{item.icon}}@2x.png" alt="weather icon">
		 <p><span style = "font-weight: bold">Date: </span>{{item.date}}</p>
 		 {% if loop.first %} <p><span style = "font-weight: bold">Currently: </span>{{item.currtemp}}°F</p> {% endif %}
		 {% if loop.first %}<p><span style = "font-weight: bold">Feels Like: </span>{{item.feelslike}}°F</p> {% endif %}
		 <p><span style = "font-weight: bold">Min: </span>{{item.tempmin}}°F</p>
		 <p><span style = "font-weight: bold">Max: </span>{{item.tempmax}}°F</p>
		 <p><span style = "font-weight: bold">Humidity: </span>{{item.humidity}}%</p>
		 <p><span style = "font-weight: bold">Condition: </span>{{item.condition}}</p>
	</div>
	{% endfor %}
	</div>

{% endif %}


</body>
</head>
</html>